@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
  --dda-primary-0: #000000;
  --dda-primary-4: #080611;
  --dda-primary-5: #0f0c1b;
  --dda-primary-6: #131125;
  --dda-primary-10: #15152f;
  --dda-primary-12: #181839;
  --dda-primary-17: #1a1b44;
  --dda-primary-20: #1b1f4f;
  --dda-primary-22: #1c225a;
  --dda-primary-24: #1d2566;
  --dda-primary-25: #1d2972;
  --dda-primary-30: #1d2c7e;
  --dda-primary-35: #1c308a;
  --dda-primary-40: #1c308a;
  --dda-primary-50: #1c308a;
  --dda-primary-60: #383f94;
  --dda-primary-70: #4d4e9d;
  --dda-primary-80: #615ea7;
  --dda-primary-87: #736eb1;
  --dda-primary-90: #857fbb;
  --dda-primary-92: #9690c4;
  --dda-primary-94: #a8a2ce;
  --dda-primary-95: #b9b4d8;
  --dda-primary-96: #cac6e2;
  --dda-primary-98: #dcd9eb;
  --dda-primary-99: #edecf5;
  --dda-primary-100: #ffffff;
}

/* :root {
  --font-family-main: "Cairo", sans-serif !important;
}

body {
  font-family: "Cairo", sans-serif !important;
} */
